<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DingDing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--log4写日志-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <appSettings>
    <!--公共通用配置 -->
    <!--当前站点的weburl地址，地址中的最后不能省掉 "/" -->
    <add key="webUrl" value="http://192.168.1.26:18089/"/>
    <add key="ServerUri" value="MyWebSite.aspx"/>

    <!--<add key="ServerUri_PC" value="MyWebSite.aspx"/>-->
    <!--企业对接所需要的配置文件-->
    <add key="E.AgentID" value="54003193"/>
    <add key="E.CorpId" value="ding69ea51c0e157ca0d"/>
    <add key="E.CorpSecret" value="UWO5LTAfuCekzhl-D1OEMb_x30P4BkHRhyh5IUBFUx1XsUy5ulFGQNymH-NxFE4e"/>
  </appSettings>
</configuration>