<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>跟进详情</title>
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/css/mobiscroll.custom-3.0.0-beta2.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link href="/css/mui.picker.css" rel="stylesheet" />
    <link href="/css/mui.poppicker.css" rel="stylesheet" />
    <script src="/js/mui.min.js"></script>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/public.js"></script>
    <script type="text/javascript" src="/js/ejs.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/dingding/open-develop/0.8.4/dingtalk.js"></script>
    <script type="text/javascript">
        document.write("<s" + "cript type='text/javascript' src='/js/pagejs/dd_navigation.js?number=" + Math.random() + "'></s" + "cript>");
        document.write("<s" + "cript type='text/javascript' src='/js/pagejs/follow_up.js?number=" + Math.random() + "'></s" + "cript>");
    </script>
    <script src="/js/mui.picker.min.js"></script>
    <script src="/js/mui.picker.js"></script>
    <script src="/js/mui.poppicker.js"></script>
    <style>
        #link_name {
            border: none;
            top: 0;
            height: 0.4rem;
            display: block;
            padding: 0;
            line-height: 0.4rem;
            color: #5d6e7a;
            text-align: left;
            font-size: 0.28rem;
            font-family: "microsoft yahei";
        }
    </style>
   
</head>
<body>
    <header class="mui-bar mui-bar-nav Header bgblue">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">添加跟进</h1>
        <span class="mui-pull-right header_button" id="submit">保存</span>
    </header><div class="mui-content">
                 <!--<% $.each(retData,function(index,item){ %>-->
        <script type="text/template" id="info_template">
           
           
            <section class="section_module mt20">
                <form class="mui-input-group">
                    <div class="input-row clearfix">
                        <div class="icon bgqiangreen fl">
                            <i class="iconfont">&#xe614;</i>
                        </div>
                        <label for="" class="fl">
                            客户名称
                        </label>
                        <div class="input fr">
                            <span id="cust_customer" class="text"><%=retData.follow_cust_name%></span>
                        </div>
                    </div>
                    <div class="input-row clearfix">
                        <div class="icon bgblue fl">
                        </div>
                        <label for="" class="fl">
                            联系人
                        </label>
                        <div class="input fr">                          
                            <div id='link_name' class="text select"><%=retData.follow_link_name%></div>
                        </div>
                    </div>
                    <div class="input-row clearfix">
                        <div class="icon bgpink fl">
                            <i class="iconfont">&#xe692;</i>
                        </div>
                        <label for="" class="fl">
                            跟进类型
                        </label>
                        <div class="input fr">
                            <span class="text" id="follow_type"><%=retData.follow_type_name%></span>
                        </div>
                    </div>
                </form>
            </section>

            <ul class="mes_lists">
                <li>
                    <div class="mes_wrap clearfix">
                        <div class="mes_deta">
                            <div class="content" id="report_content">
                                <%=retData.follow_content%>
                            </div>
                            <div class="img_wrap">
                                <div class="img clearfix" id="img">

                                </div>
                            </div>
                            <div class="content" id="report_plan">

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
           
        </script>
    </div>
    <!--<section class="section_module mt20">
                <div class="mui-input-group">
                    <div class="input-row clearfix">
                        <div class="icon bghuang fl">
                            <i class="iconfont">&#xe68a;</i>
                        </div>
                        <label for="" class="fl">
                            地址
                        </label>
                        <div class="input fr">
                            <span class="text select">请选择地址</span>

                            <i class="iconfont">&#xe64c;</i>
                        </div>
                    </div>
                    <div class="clearfix remind">
                        <div class="icon bgqiangreen fl">
                            <i class="iconfont">&#xe628;</i>
                        </div>
                        <div class="fl">
                            <div class="input-row clearfix" style="width:5.35rem;">
                                <label for="" class="fl">
                                    提醒
                                </label>
                                <div class="mui-switch mui-switch-mini <%=item.follow_status==0?'':'mui-active'%> fr mui-switch-green"><input type="hidden" value="<%=item.id%>" />
                                    <div class="mui-switch-handle"></div>
                                </div>
                            </div>
                            <div class="input-row" style="width:5.35rem;">
                                <label for="" class="fl">
                                    提醒时间
                                </label>
                                <div class="input fr">
                                    <input type="text" name="follow_remaindate" isrequired="true" id="follow_remaindate" value="<%=item.follow_remaindate%>" class="text select" placeholder="请选择时间" />
                                    <i class="iconfont">&#xe64c;</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
    <!--<% }) %>-->

    <script src="/js/mobiscroll.custom-3.0.0-beta2.min.js"></script>
    <script src="../js/mui.zoom.js"></script>
    <script src="../js/mui.previewimage.js"></script>	
    <script type="text/javascript">
        $(function () {
            var id = getparam("id");
            dd_setRightMenu('NewFollowup.aspx?dd_nav_bgcolor=FF6CB1FF&id=' + id + '&dds=sdjj', "", [{ "id": "1", "iconId": "edit", "text": "编辑", }]);
            follow_up_info(id);
            var now = new Date(),
            minDate = new Date(now.getFullYear() - 10, now.getMonth(), now.getDate()),
            maxDate = new Date(now.getFullYear() + 10, now.getMonth(), now.getDate());

            var instance = mobiscroll.datetime('#follow_remaindate', {
                theme: 'mobiscroll',  // Specify theme like: theme: 'ios' or omit setting to use default
                lang: 'zh',           // Specify language like: lang: 'pl' or omit setting to use default
                display: 'bottom',    // Specify display mode like: display: 'bottom' or omit setting to use default
                min: minDate,         // More info about min: https://docs.mobiscroll.com/3-0-0_beta6/javascript/datetime#!opt-min
                max: maxDate          // More info about max: https://docs.mobiscroll.com/3-0-0_beta6/javascript/datetime#!opt-max
            });
        })
        mui.previewImage();
        hidePreloader();
    </script>
</body>
</html>
